html {
  font: var(--font-text-md);
  color: var(--color-text-primary);

  & .red {
    color: var(--color-brand-1);
  }
  & .purple {
    color: var(--color-brand-2);
  }
  & .blue {
    color: var(--color-brand-3);
  }
  & .green {
    color: var(--color-brand-4);
  }
  & .yellow {
    color: var(--color-brand-5);
  }

  background-color: var(--color-background-primary);

  & h1 {
    font: var(--font-title-lg);
    color: var(--color-title);
  }

  & h2 {
    font: var(--font-title-md);
    color: var(--color-title);
  }

  & h3 {
    font: var(--font-title-sm);
    color: var(--color-title);
  }

  & .subtitle {
    font: var(--font-subtitle);
  }
}

& body {
  background-image: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  text-align: center;
  margin-top: 120px;
  display: grid;
  gap: 92px;
  justify-items: center;

  & .arrow-down {
    animation: sobeDesce 1.5s ease-in-out infinite;
  }

  & section {
    & .content {
      display: grid;
      gap: 56px;
      margin: 0 auto;

      max-width: 680px;

      & .avatar-container {
        width: 88px;
        margin: 0 auto;
        position: relative;
        
        &::after {
          content: '';
          display: block;
          width: 100px;
          height: 100px;
          border: 2px solid var(--color-brand-1);
          border-radius: 50%;
          position: absolute;
          right: -6px;
          top: -6px;
        }
        & .avatar {
        border-radius: 50%;
        width: 112px;
        object-fit: cover;
        aspect-ratio: 1/1;
        }

      }
      & .text {
        display: grid;
        gap: 20px;
        margin-bottom: 80px;
        
        &. .title-container {
          display: grid;
          gap: 8px;
        }
      }
    }
    & .tags {
      display: flex;
      gap: 16px;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 680px;

      & .tag {
        display: flex;
        height: 40px;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
        background-color: var(--color-base-3);
        border-radius: 999px;
      }
    } 
  }
}

main {
  display: grid;
  gap: 56px;
  padding: 72px 0 144px;

  & .main-text {
    display: grid;
    gap: 8px;
    margin: 0 auto;
    max-width: 1040px;
    text-align: center;
  }

  & .main-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    & .card {
      width: 330px;
      max-width: calc(100vw - 16px);
      min-height: 280px;
      display: grid;
      gap: 16px;
      padding: 12px 12px 24px;
      background-color: var(--color-base-3);
      border-radius: 12px;
      
      & .card-cover {
        width: 100%
        height: 156px;
        border-radius: 8px;
        overflow: hidden;
        
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & .card-text {
        display: grid;
        gap: 8px;
      }
    }
  }
}

.services {
  padding: 88px 8px 120px;
  display: grid;
  gap: 56px;
  justify-items: center;
  text-align: center;
  background-color: var(--color-base-1);

  & .services-cards {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;

    & .services-card {
    border: solid 2px var(--color-base-3);
    width: 280px;
    max-width: calc(100vw - 16px);
    border-radius: 12px;
    padding: 24px;
    display: grid;
    gap: 20px;
    background-color: var(--color-base-3);
  }
    
    & .services-card-text {
      display: grid;
      gap: 8px;
      text-align: left;
    }
  }
}

footer {
  padding: 128px 8px 200px;
  background-image: url(../assets/background_contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  gap: 56px;
  
  & .footer-text {
    display: grid;
    gap: 8px;
    margin: 0 auto;
    max-width: 480px;
    text-align: center;
  }
  & .footer-cards {
    display: grid;
    gap: 16px;
    justify-items: center;

    & .footer-link {
      text-decoration: none;
      color: var(--color-text-primary);
    }
    & .footer-card {
      width: 280px;
      max-width: calc(100vw - 16px);
      border-radius: 12px;
      padding: 24px;
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: var(--color-base-3);
    }
    & .footer-card-content {
      display: flex;
      gap: 12px;
      align-items: center;
      width: 100%;
    }
  }
}